<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Birthday Today</title>
    <link rel="stylesheet" text="text/css" href ="/birthday_style.css">
  <head>

<body>
  <% if @today_date == @today_date %>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday day to you' </h1>
    <h1> 'Happy Birthday dear, <%= @name %>' </h1>
    <h1> 'Happy Birthday to you' </h1>
  <% end %>
</body>
<%= @todays_date %><br>
<%= @user_birthday %><br>
<%= @birthday_check %><br>
<%= @x %>

<footer>
  <ul>
    <a href="./">Home</a>
  </ul>
</footer>
</html>
